/*
 * Custom CSS for testing task
 * @author Alexander Ishchenko <http://qialex.me>
 * License: MIT
 */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    margin-top: 100px;
}

.section {
	margin-top:50px;
}

.section-big-margin {
	margin-top:100px;
}
