<!--
 AngularJS Gallery page
 @author Alexander Ishchenko <http://qialex.me>
 License: MIT
-->

<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">Галерея
				<small>С попугаями и котиками</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/">Главная</a>
				</li>
				<li class="active">Галерея</li>
			</ol>
		</div>

	</div>

    <div class="row">
        <div class="col-lg-12">
			
			<gallery></gallery>
			
        </div>
    </div>
</div>