<!--
 AngularJS Home page
 @author Alexander Ishchenko <http://qialex.me>
 License: MIT
-->

<div class="section text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Тестовые задания: js и angular.js</h2>
                <p>В проекте использованы: bootstrap, font-awesome, jquery и angular.js <br /> 98% кода и все css файлы с префиксом custom_ написаны самостоятельно.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

		<div class="row">
            <div class="col-lg-3 col-md-3">
                <h3><i class="fa fa-picture-o"></i> <a href="#/gallery">Галерея</a></h3>
                <p>Простая галерея фотографий в виде карусели.
				Дано: n-ое число фотографий фиксированного размера с определёнными названиями.
				Просмотр галереи стартует автоматически и длится бесконечно, после последней фотографии идет первая.
				</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <h3><i class="fa fa-magic"></i> <a href="#/popup">Pop-up</a></h3>
                <p>Реализовано простое всплывающее окно (pop-up). В pop-up передается заголовок,
				текст pop-up и callback-функция (вызывается при закрытии pop-up).
				</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <h3><i class="fa fa-object-ungroup"></i> <a href="#/dragNdrop">Drag`N`Drop</a></h3>
                <p>Реализован Drag'n'drop на примере перетаскивания товара в корзину.
				Если при завершении перетаскивания, товар находился в области корзины,
				то товар исчезает из DOM.
				</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <h3><i class="fa fa-bell"></i> <a href="#/notifications">Notifications</a></h3>
                <p>"Вам необходимо обновлять счетчик нотификаций в веб-приложении. Нотификации приходят от сервера." - реализовано на вебсокетах. На серверной node.js на клиентской - ангуляр
				</p>
            </div>			
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<div class="section-big-margin">

	<div class="container">

		<div class="row well">
			<div class="col-lg-8 col-md-8">
				<h4>Некоторые из тестовых заданий не работают?</h4>
				<p>Но продукты компании "тестовые задания от Александра" не работают даже лучше! Спешите заказать</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<a class="btn btn-lg btn-primary pull-right" href="http://qialex.me">Контактная информация</a>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</div>
<!-- /.section -->
